}

.navbar a:hover {
  background: rgb(155, 216, 13);
  transition: 1s;
  padding: 8px;
  margin:2px;
  
}


.below{
  color :blue;
  text-shadow: 2px 2px yellow;
  text-align:  center ;
}

.contain{
  background-color: #ced1c29b;
  border: 15px;
  margin: 10px;
  margin-left: 5px;
  padding:10px;
  border-radius: 25px;
  text-align: center;
  text-shadow: 1500cm;
  color:rgb(218, 39, 23);
  opacity: 100%;
  border-color: red;
  height: 200px;
  box-shadow: 1px 2px 10px 5px rgb(204, 207, 18);
}
  

.title{
  color: #f4eb36e2;
  font: bold;
  text-align: center;
  font-size: 350%;
}
.img{
  width:60%;
  height:400px;
  margin-left: 20%;
  transform: translate(-50%, -50%)
  background-image:url('C:\Users/Dell/OneDrive/Desktop/News/munde.jpg');
 background-size: 100% 100%;
 box-shadow: 1px 2px 10px 5px white;
 animation: slider 12s infinite linear;
}
@keyframes slider{
  0%{  background-image:url('C:\Users/Dell/OneDrive/Desktop/News/munde.jpg'); }
  35%{   background-image:url('C:\Users/Dell/OneDrive/Desktop/News/rty.jpg'); }
  75%{   background-image:url('C:\Users/Dell/OneDrive/Desktop/News/fb.png'); }
}
.footer{
  color: rgb(225, 17, 17);
  font-size: 20px;
  text-align: center ;
  
}

h2.below:hover, h2.below:active {font-family: monospace;}

</style>
    
